<nav id="headerPanel" class="navbar navbar-default navbar-fixed-top">
  <!-- <img src="assets/logo_knapp.png" alt="Logo Knapp" width="300" height="50">  -->
  <ul class="pull-right">
        <li (click)="showComponent(1)" data-toggle="tooltip" title="Legend Icon">
            <img src="assets/knapp_legend_icon.png" alt="Legend Icon" width="36" height="36" alt="Legend Icon">
        </li>
         <li data-toggle="tooltip" title="Timeline Icon">
            <img src="assets/knapp_timeline_icon.png" width="36" height="36" alt="Timeline Icon">
         </li>
         <li (click)="showComponent(3)" data-toggle="tooltip" title="Charts Icon">
            <img src="assets/knapp_bar_icon.png" width="36" height="36" alt="Timeline Icon">
         </li>
         <li (click)="showComponent(4)" data-toggle="tooltip" title="Data Table Icon">
             <img src="assets/knapp_data_icon.png" width="36" height="36" alt="Timeline Icon">
         </li>
         <li (click)="showComponent(4)" data-toggle="tooltip" title="Data Table Icon">
            <img src="assets/knapp_lock_icon.png" width="36" height="36" alt="Timeline Icon">
        </li>
 </ul>
</nav>
